.archive {
    .page-header {
        background-color: $color__greyish-white;
        padding: 20px;
    }
    .page-title {
        background-color: $color__greyish-white;
        margin: 0;
        text-align: center;
    }
}
